@font-face {
  font-family : Roboto;
  src : url('./polices/Roboto-Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: "Droid Serif";
  src:url('./polices/DroidSerif-Italic.ttf') format('truetype');
  font-weight:normal;
  font-style:italic;
}
@font-face {
  font-family:"Montserrat";
  src: url('./polices/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;

}
body
{
  font-family: Roboto;
  margin:0;
  color:black;
  background-color:grey;
  padding:0px;
  height : 100%;
}
header
{
  background-color: black;
  color:white;
  margin:0px;
  padding:0px;
  height:50px;
  position:fixed;
  width:100%;
  z-index:2;
}

#nav
{
  display:flex;
  justify-content: center;
  list-style-type:none;

}
nav
{
  height:100%;

}
nav a
{
  text-decoration: none;
  color:white;
  padding-bottom: 3px;

}
nav li
{
  margin: 5px 30px 5px 30px;
  display:flex;
  align-items:center;

}
nav a:hover
{
  border-bottom: 3px solid white;
}
nav ul
{
  margin:0;
  padding:0;
  height:100%;

}
nav a:focus
{
  border-bottom: 3px solid white;

}


#présentation
{
  background-image: radial-gradient(circle at top,white,rgb(1,176,220));
  height:auto;
  width:100%;

}

#métier
{
  font-family: "Droid Serif";
  text-align:center;
  padding:10%;
}
#moi
{
  font-family: "Montserrat";
  color:white;
  text-align:center;
  font-size:5em;
  text-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb, 0px 4px 0px #b9b9b9, 0px 5px 0px #aaa, 0px 6px 1px rgba(0,0,0,0.1), 0px 0px 5px rgba(0,0,0,0.1), 0px 1px 3px rgba(0,0,0,0.3), 0px 3px 5px rgba(0,0,0,0.2), 0px 5px 10px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.2), 0px 20px 20px rgba(0,0,0,0.15);
}
h1,h2
{
  margin:0;
}

button {
	cursor:pointer;
	text-transform:capitalize;
	width:65px;
	height:65px;
	background:black;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
button:hover
{
  background:yellow;
}
#défile_p
{
  text-align:center;
  padding:10%;
  margin:0;
}
#compétences
{
  background-color:white;
  box-shadow: 0px -3px 1px black;
  width:100%;
}
#compétences p,h1
{
  text-align:center;
}
#compétences h1
{
  text-shadow:0px 2px 3px #555;
}
#skills
{
  display:flex;
  margin:auto;
  justify-content:center;
  width:100%;
}
.skill
{
  padding:20px;
  width:20%;
}
.skill h3
{
  font-size:13px;
}
.skill h2,h3
{
  text-align:center;
}


.skill_loader
{
  width:100%;
  height:70%;
}
#A_propos
{
    display:flex;
    background-color:white;
    align-items: center;
    box-shadow: 0px -3px 1px black;
    padding:2%;
}
#aside
{
  margin:auto;
  padding:2%;
}
#aside h1
{
  text-shadow:0px 2px 3px #555;
}

.log
{
  width:30px;
  height:30px;
  background-color:rgb(1,176,220);

}
#logos
{
  display:flex;
  justify-content:center;
}
#logos a
{
  margin:5px;
}
#logott,#logoli
{
  width:20px;
  height:20px;
}
#logobf
{
  height:20px;
  width:12px;
}

#me
{
  border-radius:50%;
  width:100%;
}
#photo_logo
{
  width:400px;
}
#education
{
  background-color:rgb(1,176,220);
  height:100%;
  box-shadow: 0px -3px 1px black;
}
.education
{
  display:flex;
}
#text_1,#text_2,#text_3
{
  border-radius:10px;
  padding:10px;
  background-color:rgba(223, 223, 223, 0.5);
}
#education p
{
  color:white;
}
#education h3
{
  color:black;
  text-shadow:0px 1px 2px #555;
}
#education h1
{
  padding-top:70px;
  text-shadow:0px 2px 3px #555;
  padding-bottom:50px;
  color:white;
}
#education p
{
  font-weight:bolder;
}
#education img
{
  position:absolute;
  left:50%;
  width:173px;
  height:173px;
  border-radius:50%;
  border:5px solid rgb(230,240,240);
  transform:translate(-50%,0);

}
#education h2
{
  text-align:center;
  text-shadow:0px 1px 1px #555;
}

#div_1,#div_2,#div_3
{
  width:40%;
  margin-left:2%;
}
#div_2
{
  padding-left:56.2%;
}
#div_3
{
  padding-bottom:10%;
}
#div_15,#div_25
{
  height:100px;
  width:0.5%;
  background-color:white;
  margin-left:49.75%;
}
#expériences
{
  margin:0;
  background-color:rgb(1,176,220);
  height:100%;
  box-shadow: 0px -3px 1px black;
}
.expériences
{
  display:flex;
}
#text_4,#text_5,#text_6
{
  border-radius:10px;
  padding:10px;
  background-color:rgba(223, 223, 223, 0.5);
}
#expériences p
{
  color:white;
}
#expériences h3
{
  color:black;
  text-shadow:0px 1px 2px #555;
}
#expériences h1
{
  padding-top:70px;
  text-shadow:0px 2px 3px #555;
  padding-bottom:50px;
  color:white;
}
#expériences p
{
  font-weight:bolder;
}
#expériences img
{
  position:absolute;
  left:50%;
  width:173px;
  height:173px;
  border-radius:50%;
  border:5px solid rgb(230,240,240);
  transform:translate(-50%,0);

}
#expériences h2
{
  text-align:center;
  text-shadow:0px 1px 1px #555;
}

#div_4,#div_5,#div_6
{
  width:40%;
  margin-left:2%;
}
#div_5
{
  padding-left:56.2%;
}
#div_6
{
  padding-bottom:10%;
}
#div_45,#div_55
{
  height:100px;
  width:0.5%;
  background-color:white;
  margin-left:49.75%;
}
#experiences
{
  margin:0;
}

#solutions
{
  display:flex;
  justify-content:center;
}
#solutions img
{
  height:150px;
  margin-left:50px;
}
#solutions_techniques
{
  background-color:white;
  padding-bottom:3%;
  padding-top:3%;
  box-shadow: 0px -3px 1px black;
  border-bottom:5px solid rgb(1,176,220);
}
#solutions_techniques h1
{
  margin-bottom:30px;
  text-shadow:0px 1px 1px #555;
}
#logo_py,#logo_hcj
{
  width:150px;
}
#logo_office,#logo_wordpress
{
  width:220px;
}





#logos2
{
  display:flex;
  justify-content:center;
}
#logos2 a
{
  margin:5px;
}
#logott2,#logoli2
{
  width:20px;
  height:20px;
}
#logobf2
{
  height:20px;
  width:12px;
}
footer p
{
  color:white;
  margin:0;
  padding-left:20px;
}
footer
{
  background-color:black;
}
